[Desktop Entry]
Version=0.8.3
Name=WCFactory
Comment=WCFactory
Exec=wcf ui
Terminal=true
Icon=./hax.png
Type=Application
Categories=Utility;Application;